@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Bellefair-Regular;
  src: url('./Fonts/Bellefair/Bellefair-Regular.ttf');
}

@font-face {
  font-family: Barlo-Regular;
  src: url('./Fonts/Barlow/Barlow-Regular.ttf');
  
}
@font-face {
  font-family: Barlo-Light;
  src: url('./Fonts/Barlow/Barlow-Light.ttf');

}

@font-face {
  font-family: Barlo-Condensed-ExtraLight;
  src: url('./Fonts/Barlow_Condensed/Barlow_Condensed/BarlowCondensed-ExtraLight.ttf');
}

@font-face {
font-family: Barlo-Condensed-Bold;
src: url('./Fonts/Barlow_Condensed/Barlow_Condensed/BarlowCondensed-SemiBold.ttf');
}

@font-face {
  font-family: Bellefair-Regular;
  src: url('./Fonts/Bellefair/Bellefair-Regular.ttf');
}

@font-face {
  font-family: Barlo-Regular;
  src: url('./Fonts/Barlow/Barlow-Light.ttf');
}


.home{
    background-image: url('./assets/home/background-home-mobile.jpg');
}


@media screen and (min-width: 768px) {
    .home{
      background-image: url('./assets/home/background-home-tablet.jpg');
    }
  }
  
  @media screen and (min-width: 1024px) {
    .home {
      background-image: url('./assets/home/background-home-desktop.jpg');
    }
  }

  .destination{
    background-image: url('./assets/destination/background-destination-mobile.jpg');
}


@media screen and (min-width: 768px) {
  .destination{
    background-image: url('./assets/destination/background-destination-tablet.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .destination {
    background-image: url('./assets/destination/background-destination-desktop.jpg');
  }
}
  .crew{
    background-image: url('./assets/crew/background-crew-mobile.jpg');
}


@media screen and (min-width: 768px) {
  .crew{
    background-image: url('./assets/crew/background-crew-tablet.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .crew {
    background-image: url('./assets/crew/background-crew-desktop.jpg');
  }
}
  .technology{
    background-image: url('./assets/technology/background-technology-mobile.jpg');
}


@media screen and (min-width: 768px) {
  .technology{
    background-image: url('./assets/technology//background-technology-tablet.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .technology {
    background-image: url('./assets/technology/background-technology-desktop.jpg');
  }
}